body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
    background-color: #4c5265;
}
h1{
    font-size:36px;
}
.container_child{
    background-color:#323949;
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    border: 5px seashell;
    padding: 20px;
}
.container_navigation{
    background-color: black;
    width: 30%;
}
.navigation{
    margin-top: 30%;
    text-align: center;
}
.a_button{
    display: block;
    margin-bottom: 10%;
    font-size: 24px;
}