<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %} {% endblock %}
    </head>
    <body>
        <div class="container_parent">
            <div class="container_child container_navigation">
                <div class="webtitle">
                    <h1>Prediksi Nilai Tukar Bitcoin dan US Dollar dengan Metode Long Short-Term Memory</h1>
                </div>
                <div class="navigation">
                    <a class="a_button">Pelatihan Model</a>
                    <a class="a_button">Hasil Prediksi</a>
                </div>
            </div>
            <div class="container_child container_mainContent">
                <div class="mainContent">
                    <h1>Pendahuluan</h1>
                    <p>Nilai Bitcoin sangat <i>volatile</i>. Untuk itu, perlu dibuat sebuah model untuk memprediksi pergerakan harga bitcoin menggunakan <i>machine learning</i>. <i>Machine Learning</i> merupakan salah satu cabang dari AI yang mencapkup perancangan algoritma yang memungkinkan komputer memiliki kemampuan untuk belajar dari data, tanpa secara eksplisit harus mengikuti instruksi yang diprogram oleh pembuat sistem (Budiharto, 2016).
                        Salah satu metode yang bisa digunakan adalah <i>Long Short-Term Memory</i> atau LSTM. <i>Long Short-Term Memory</i> (LSTM) adalah salah satu cabang dari <i>Recurrent Neural Network</i> (RNN) yang sangat cocok diterapkan pada dataset berbasis <i>time-series</i> dan masalah jangka panjang.</p>
                </div>
            </div>
        </div>    
    </body>
</html>