{% extends 'base.html' %}
{% block head %}
<title>Halaman Utama</title> 
{% endblock %}

{% block pageTitle %}
Pendahuluan
{% endblock %}

{% block body %} 
<p>Nilai Bitcoin sangat <i>volatile</i>. Untuk itu, perlu dibuat sebuah model untuk memprediksi pergerakan harga bitcoin menggunakan <i>machine learning</i>. <i>Machine Learning</i> merupakan salah satu cabang dari AI yang mencapkup perancangan algoritma yang memungkinkan komputer memiliki kemampuan untuk belajar dari data, tanpa secara eksplisit harus mengikuti instruksi yang diprogram oleh pembuat sistem (Budiharto, 2016).
    Salah satu metode yang bisa digunakan adalah <i>Long Short-Term Memory</i> atau LSTM. <i>Long Short-Term Memory</i> (LSTM) adalah salah satu cabang dari <i>Recurrent Neural Network</i> (RNN) yang sangat cocok diterapkan pada dataset berbasis <i>time-series</i> dan masalah jangka panjang.</p>
{% endblock %}
